.content-left
{
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    position:relative;
}


.content-right
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    border-left:2px solid #bfbfbf;
}

img 
{
    max-width: 100%;
    max-height: 100%;
}