
.row{
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
}

.slide{
    background-repeat: no-repeat;
    background-size: cover;
    
}

.btn{
    font-size: 14px;
    padding: 16px 35px;
}

.input_place{
    background-color: rgba(235,237,242,.4);
}

.big-icon {
    font-size: 69px;
}


